# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/dist
/dist-ssr
/src-tauri/target
/target

# OS
.DS_Store
Thumbs.db
*.swp

# Editor
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Tauri
src-tauri/binaries/
src-tauri/gen/

# Env
.env
.env.*
!.env.example

# Stan Studio specifics
*.stan
scripts/temp/

